# Markdown Basics


**this is bold text **
==
*this is italic*
==
***Italic Bold text ***
==
* Normal Text
   * sublist1
   * sublist2

  
  
  
 1. Ordered list element 1
 2. Ordered list element 2
 
 
 
 
  
 [Jupyter Logo](pict.png)
 
 
 
 <img src="pic.jpg" style="float:right">

# python Basics


python version 3.7

*scripting
*object oriented
*functional language

In [8]:
# python comments

print("hello world","hello python", end=" || ")  #basic output
print("hello python")
print("my name is vanitha")

hello world hello python || hello python
my name is vanitha

### ASSIGNMENT

n1=123456  #single variable assignment

n2 = n3 = n4 = n1          #multi variable assignment of the same variable
n3


a, b, c = 123, 234, 345 #multi variable assignment with different variables


b
c
print(a,b,c)

# Arithmetic Operations

* +
* -
* *
* /
* %
* **

In [21]:
n1=12
n1 % 11


type(n3)
len(str(n1))

2

In [26]:
a=1
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a+b,a-b,a*b,a/b)


atoms = 10 ** 20
len(str(atoms))

3
-1
2
0.5
1
3 -1 2 0.5

21

# conditionals

In [27]:
atoms < 10 ** 99

True

# Data Types
 
 * int
 * float
 * string
 * double

In [35]:
f1=12.345
type(f1)





float(str(int(f1)))

12.0

SyntaxError: invalid character in identifier (<ipython-input-4-adbdb6799c50>, line 1)

In [5]:
a=5
b=8
n=a+b

print(n)

13

g = raw_input("my name is vanitha")
print(g)

In [6]:

val = input("Enter your value: ") 
print(val)

Enter your value: 123
123

In [7]:
str = input("Enter your name:")
print(str)

Enter your name:vanitha
vanitha

IndentationError: expected an indented block (<ipython-input-3-4135d0687bfe>, line 2)

In [9]:
num=12
if num%6==0:
    print("number is divisible by 6")
else:
    print("number is not divisible by 6")

number is divisible by 6

In [ ]:
## Function to find the average of all even numbers
## in range(lb,up)

IndentationError: expected an indented block (<ipython-input-15-ac3eadb07f3c>, line 4)

In [140]:
## write a program to find the factorial of a given number


num = 7
factorial = 1
if num < 0:
   print("factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i

        
print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040

In [9]:
def Armst(n):
    temp=n
    sum=0
    while temp>0:
        digit=temp%10
        sum=sum+digit**3
        temp=temp//10
if n==temp:
    return True
else:
    return False
Armst(371)

24

1

In [156]:
#Write a funciton to print a year is leap or not




def Leap(n):
    if n%400==0 or n%100!=0 and n%4==0:
        return True
    else:
        return False
Leap(2001)

False

In [160]:
#WRITE A FUNCTION TO PRINT LEAP YEARS IN A GIVEN RANGE

def LeapRange(lw,up):
    for i in range(lw,up+1):
        if (Leap(i)==True):
             print(i,end=" ")
LeapRange(1919,2019)

1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016

In [168]:
#Write a program to calculate the no of days in a given time period

def CountNoofDays(lb,up):
    c=0
    for i in range(lb,up+1):
        print(i,end=" ")
        c=c+1
    return c
        

CountNoofDays(1,20)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

20

54 60 66 72 78 84 90 96

In [70]:
## Function to find average of cubes of all even number
##in a given range(lb,ub)


def Even(l,u):
    for i in range(l,u):
        sum=0
        count=0
        if i%2==0:
            sum=sum+i**3
            count=count+1
    return sum/count
    
            
    
Even(1,5)

64.0

In [13]:
## write a function to print a number is prime or not


def IsPrime(n):
    flag= True
    for i in range(2,n//2):
        if n%i==0:
            flag=False
            return flag
    return flag
IsPrime(4)

True

In [15]:

        ##another way of prime number or not
def Prime(n):
    count=0
    for i in range(1,n+1):
        if n%i==0:
            count=count+1
    if count==2:
        return True
    else:
        return False
Prime(4)

False

In [107]:
def PrimeRange(lw,up):
    for i in range(lw,up):
        if Prime(i)==True:
            print(i,end=" ")
PrimeRange(1,20)

2 3 5 7 11 13 17 19

# print alternate no.s



def alternate(start,end):
    for value in range(start,end+1,2):
        print(value,end=" ")
    return 
alternate(500,525)

In [23]:
#Function to print reverse of a given range


def Reverse(start,end):
    for value in range(end+1,start,-1):
        print(value,end=" ")
    return
Reverse(500,520)

521 520 519 518 517 516 515 514 513 512 511 510 509 508 507 506 505 504 503 502 501

In [29]:
#print odd numbers in a range in reverse order



def Oddnumber(lb,ub):
    for value in range(ub+1,lb,-1):
        if value%2==1:
            print(value,end=" ")
    return 
Oddnumber(1,10)

11 9 7 5 3

In [46]:
def IsPrime(n):
    flag= True
    for i in range(2,n//2):
        if n%i==0:
            print("it is prime",flag)
        else:
            print("it is not prime",flag)
        return

    
IsPrime(3)

In [51]:

##write a function to print sum of numbers in a given range

def SumRange(start,end):
    sum=0
    for i in range(start,end+1):
        sum=sum+i
         
    return sum
SumRange(1,10)

55

In [67]:

#function to calculate the average of a given range
def SumRange(start,end):
    sum=0
    count=0
    
    
    for i in range(start,end+1):
        print(i,end=" ")      
        sum=sum+i  #sum calculation
        count=count+1  #counting number of values
    return sum/count


SumRange(1,10)

1 2 3 4 5 6 7 8 9 10

5.5

In [86]:
##Write a program to find a number is perfect or not



def Perfect(n):
    sum=0
    for i in range(1,n):
        if n%i==0:
            sum=sum+i
    if sum==n:
        return True
    else: return False
Perfect(6)

True

In [124]:
#Write a function to print all perfect numbers in a given range




def Range(lw,up):
    for i in range(lw,up):
        if Perfect(i)==True:
            print(i,end=" ")
Range(1,50)

6 28

In [121]:
##write a function to print average of prime numbers in a given range




def PrimeRange(lw,up):
    sum=0
    count=0
    for i in range(lw,up):
        if Prime(i)==True:
            print(i,end=" ")
            sum=sum+i
            count=count+1
            avg=float(sum//count)
    return avg
PrimeRange(1,10)

2 3 5 7

4.0

In [6]:
##Write a function to find a number is Armstrong or not

def Armst(n):
    temp=n
    sum=0
    order = len(str(n))
    while temp>0:
        digit=temp%10
        sum=sum+digit**order
        temp=temp//10
    if n==sum:
        return True
    else:
        return False
Armst(1634)

True

In [ ]:
##Write a program in function to find the Armstrong numbers with in the intervel

def Armstrong(lb,up):
    for i in range(lb,up+1):
        if Armst(i)==True:
            print(i,end=" ")
Armstrong(20,1000)

In [24]:
#Write a program in function to find a number is palindrome or not


def Palindrome(n):
    temp=n
    rev=0
    while(n>0):
        rem=n%10
        rev=rev*10+rem
        n=n//10
    if(temp==rev):
        return True
    else:
        return False
Palindrome(221)

False

In [23]:

##Write a program in function to find the PALINDROMES with in the interval

def PalindromeRange(lb,ub):
    for i in range(lb,ub+1):
        if Palindrome(i)==True:
            print(i,end=" ")
PalindromeRange(1,500)

1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494

In [11]:
#Write a program to print ALL THE FACTORS OF A GIVEN NUMBER


def PrintFactors(n):
    for i in range(1,n):
        if n%i==0:
            print(i,end=" ")
PrintFactors(15)

1 3 5

In [34]:
##write a program to find a number is divisible by 10 or not


n=33
if n%10==0:
    print("divisible by 10")
else:
    print("not divisible by 10")

not divisible by 10

In [3]:
x=256
print(x**0.5)

16.0

120

1

In [8]:
##Function to print sumof the squares

def SumOfSquares(n):
    sum=0
    for i in range(1,n+1):
        if i<=n:
            sum=sum+i**2
    return sum
SumOfSquares(3)

14